<div class="w-[1440px] h-[2163px] relative bg-orange-50 overflow-hidden">
    <div
        class="w-32 h-11 left-[110px] top-[40px] absolute text-center justify-start text-black text-base font-semibold font-['Montserrat']">
        Emprendedores Capachica</div>
    <div
        class="w-20 h-8 left-[607px] top-[47px] absolute justify-start text-black text-xl font-normal font-['Myanmar_Sans_Pro']">
        Servicios</div>
    <div
        class="w-36 h-9 left-[762px] top-[45px] absolute justify-start text-black text-xl font-normal font-['Myanmar_Sans_Pro']">
        Sobre nosotros</div>
    <div
        class="w-24 h-6 left-[980px] top-[45px] absolute justify-start text-black text-xl font-normal font-['Myanmar_Sans_Pro']">
        Contactos</div>
    <div
        class="w-24 h-8 left-[452px] top-[47px] absolute justify-start text-black text-xl font-normal font-['Myanmar_Sans_Pro']">
        Familias</div>
    <img class="w-24 h-24 left-[3px] top-[15px] absolute" src="img/logo.png" />
    <div
        class="w-12 h-8 left-[310px] top-[48px] absolute justify-start text-black text-xl font-normal font-['Myanmar_Sans_Pro']">
        Inicio </div>
        
    <img class="w-7 h-7 left-[276px] top-[40px] absolute" src="img/home.png" />
    <img class="w-7 h-8 left-[420px] top-[37px] absolute" src="img/familia.png" />
    <div class="w-7 h-7 left-[575px] top-[41px] absolute">
        <img class="w-7 h-7 left-0 top-0 absolute" src="img/servicios.png" />
    </div>
    <img class="w-7 h-7 left-[729px] top-[40px] absolute" src="img/sobrenosotros.png" />
    <img class="w-8 h-6 left-[945px] top-[45px] absolute" src="img/contactos.png" />





    <div class="w-[1440px] h-60 left-0 top-[1923px] absolute bg-orange-700"></div>
    <div class="w-[1370px] h-56 left-[20px] top-[1941px] absolute text-center justify-start"><span
            class="text-white text-base font-normal font-['Otomanopee_One'] underline"><br /></span><span
            class="text-white text-base font-normal font-['Otomanopee_One']">Capachica, un paraíso frente al Titicaca
            <br /><br />República del Perú - Comisión de Promoción del Perú para la Exportación y el
            Turismo<br />¡Capachica te espera con los brazos abiertos!<br /></span><span
            class="text-white text-base font-normal font-['Otomanopee_One']">Terminos y condiciones<br />Aviso de
            privacidad</span></div>
    <div
        class="w-[898px] h-20 left-[244px] top-[545px] absolute text-center justify-start text-orange-700 text-3xl font-normal font-['Otomanopee_One']">
        📞 Contáctanos</div>
    <img class="w-[1440px] h-96 left-0 top-[138px] absolute" src="img/v77_182.png" />
    <img class="w-16 h-16 left-[1345px] top-[32px] absolute" src="img/usuario.png" />
    <div
        class="w-[1261px] h-11 left-[96px] top-[624px] absolute text-center justify-start text-black text-xl font-normal font-['Myanmar_Sans_Pro']">
        Estamos aquí para ayudarte a planear tu experiencia en Capachica</div>
    <div
        class="w-[580px] h-16 left-[55px] top-[737px] absolute justify-start text-amber-500 text-4xl font-normal font-['Otomanopee_One']">
        Formulario de contacto</div>
    <div
        class="w-96 h-16 left-[727px] top-[745px] absolute justify-start text-amber-500 text-4xl font-normal font-['Otomanopee_One']">
        Mapa de ubicación</div>
    <div
        class="w-[580px] h-32 left-[52px] top-[1388px] absolute justify-start text-amber-500 text-4xl font-normal font-['Otomanopee_One']">
        Redes sociales oficiales</div>
    <div
        class="w-[580px] h-32 left-[52px] top-[1677px] absolute justify-start text-amber-500 text-4xl font-normal font-['Otomanopee_One']">
        Correo de contacto general</div>

    <div class="w-32 h-0 left-[945px] top-[79px] absolute outline outline-1 outline-offset-[-0.50px] outline-black">
    </div>
    <iframe class="w-[637px] h-[786px] left-[720px] top-[856px] absolute" style="position: absolute; border: 0;"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12743.520329615295!2d-69.843!3d-15.6447!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x915d7c95db9aeed9%3A0xa6d88f0376391024!2sCapachica!5e0!3m2!1ses-419!2spe!4v1617738498032!5m2!1ses-419!2spe"
        allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
    </iframe>

    <div
        class="w-96 h-12 left-[54px] top-[844px] absolute justify-start text-black text-2xl font-normal font-['Myanmar_Sans_Pro']">
        Nombre completo</div>
    <div
        class="w-96 h-12 left-[54px] top-[963px] absolute justify-start text-black text-2xl font-normal font-['Myanmar_Sans_Pro']">
        Correo electrónico</div>
    <div
        class="w-96 h-12 left-[55px] top-[1081px] absolute justify-start text-black text-2xl font-normal font-['Myanmar_Sans_Pro']">
        Escribe tu mensaje</div>
    <div
        class="w-[529px] h-12 left-[116px] top-[1199px] absolute justify-start text-black text-2xl font-normal font-['Myanmar_Sans_Pro']">
        Deseo recibir información turística y novedades</div>
    <div class="w-[529px] h-44 left-[55px] top-[1458px] absolute justify-start"><span
            class="text-black text-2xl font-normal font-['Myanmar_Sans_Pro']">Síguenos en nuestras
            redes<br /><br /></span><span
            class="text-orange-500 text-2xl font-normal font-['Myanmar_Sans_Pro']">Faccebook:</span><span
            class="text-black text-2xl font-normal font-['Myanmar_Sans_Pro']"> capachicaturismo<br /></span><span
            class="text-orange-500 text-2xl font-normal font-['Myanmar_Sans_Pro']">Instagram:</span><span
            class="text-black text-2xl font-normal font-['Myanmar_Sans_Pro']"> capachica.experiencies<br /></span><span
            class="text-orange-500 text-2xl font-normal font-['Myanmar_Sans_Pro']">Youtube: </span><span
            class="text-black text-2xl font-normal font-['Myanmar_Sans_Pro']">Turismos Capachica Oficial</span></div>
    <div class="w-[1302px] h-44 left-[55px] top-[1755px] absolute justify-start"><span
            class="text-orange-500 text-2xl font-normal font-['Myanmar_Sans_Pro']"> Email:</span><span
            class="text-black text-2xl font-normal font-['Myanmar_Sans_Pro']"> capachicaturismo.com<br /></span><span
            class="text-orange-500 text-2xl font-normal font-['Myanmar_Sans_Pro']">Horario de atención: </span><span
            class="text-black text-2xl font-normal font-['Myanmar_Sans_Pro']">9:00 AM – 6:00 PM (de lunes a
            sábado)</span></div>
    <div class="w-[591px] h-16 left-[54px] top-[883px] absolute bg-yellow-300/50 rounded-[10px] border"></div>
    <div class="w-[591px] h-16 left-[54px] top-[1001px] absolute bg-yellow-300/50 rounded-[10px] border"></div>
    <div class="w-[591px] h-16 left-[54px] top-[1119px] absolute bg-yellow-300/50 rounded-[10px] border"></div>
    <div class="w-11 h-11 left-[61px] top-[1212px] absolute bg-white border border-black"></div>
    <div class="w-48 h-16 left-[244px] top-[1279px] absolute bg-amber-500 rounded-[10px]"></div>
    <div
        class="w-24 h-12 left-[298px] top-[1298px] absolute justify-start text-white text-2xl font-normal font-['Myanmar_Sans_Pro']">
        ENVIAR</div>
</div>